<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">GEMAPI</li>
    <li class="breadcrumb-item"><a href="gemapi_france.html">France</a></li>
    <li class="breadcrumb-item"><a href="gemapi_regions.html">Régions</a></li>
    <li class="breadcrumb-item active" aria-current="page">Départements</li>
    <li class="breadcrumb-item"><a href="gemapi_map.html">Cartes</a></li>
  </ol>
</nav>

# Suivi de la structuration des compétences Gemapi

## Répartition des intercommunalités par nature juridique dans les Départements

*avec au moins une des quatre competences GEMAPI*

{% for departement, value in dataset_field_values_count('banatic_competences_groupements_2020', "departement_siege").items() %}

{% set num_departement, nom_departement = departement.split(' - ') %}
### Département {{ nom_departement }}

{{ chart_bar_horizontal('banatic_competences_groupements_2020', field="nature_juridique", chart_id=nom_departement~'_all',
    title=nom_departement~" - Répartition par nature juridique", match_all={'departement_siege': departement}, match_any={'C1528':'1', 'C1529':'1', 'C1531':'1', 'C1532':'1'}) }}

<table>
<tr>
<td>{{ chart_doughnut('banatic_competences_groupements_2020', field="competences_gemapi", 
    chart_id=departement~'SM', chart_title='SM', chart_height=200, chart_width=300,
    match_all={'departement_siege': departement, 'intercommunalite_gemapi': 'SM'}, match_any={'C1528':'1', 'C1529':'1', 'C1531':'1', 'C1532':'1'}) }}</td>
<td>{{ chart_doughnut('banatic_competences_groupements_2020', field="competences_gemapi", 
    chart_id=departement~'EPCI', chart_title='EPCI', chart_height=200, chart_width=300,
    match_all={'departement_siege': departement, 'intercommunalite_gemapi': 'EPCI'}, match_any={'C1528':'1', 'C1529':'1', 'C1531':'1', 'C1532':'1'}) }}</td>
</tr>
<tr>
<td>{{ chart_doughnut('banatic_competences_groupements_2020', field="competences_gemapi", 
    chart_id=departement~'EPAGE', chart_title='EPAGE', chart_height=200, chart_width=300,
    match_all={'departement_siege': departement, 'intercommunalite_gemapi': 'EPAGE'}, match_any={'C1528':'1', 'C1529':'1', 'C1531':'1', 'C1532':'1'}) }}</td>
<td>{{ chart_doughnut('banatic_competences_groupements_2020', field="competences_gemapi", 
    chart_id=departement~'EPTB', chart_title='EPTB', chart_height=200, chart_width=300,
    match_all={'departement_siege': departement, 'intercommunalite_gemapi': 'EPTB'}, match_any={'C1528':'1', 'C1529':'1', 'C1531':'1', 'C1532':'1'}) }}</td>
</tr>
</table>

{% endfor %}
## Incohérences du jeu de données

<div class="alert alert-warning" role="alert">
<table>
<th><tr><td>Nom du Groupement</td><td>Intercommunalité exerçant la GEMAPI</td>
<td>Competence 1</td><td>Competence 2</td><td>Competence 5</td><td>Competence 8</td></tr></th>
{% for row in dataset_rows('banatic_competences_groupements_2020', match_all={'competences_gemapi': 'aucune'}, match_any={'intercommunalite_gemapi': 'EPAGE'}) %}
<tr><td>{{ row['nom_groupement'] }}</td><td>{{ row['intercommunalite_gemapi'] }}</td>
<td>{{ row['C1528'] }}</td><td>{{ row['C1529'] }}</td><td>{{ row['C1531'] }}</td><td>{{ row['C1532'] }}</td></tr>
{% endfor %}
{% for row in dataset_rows('banatic_competences_groupements_2020', match_all={'competences_gemapi': 'aucune'}, match_any={'intercommunalite_gemapi': 'EPTB'}) %}
<tr><td>{{ row['nom_groupement'] }}</td><td>{{ row['intercommunalite_gemapi'] }}</td>
<td>{{ row['C1528'] }}</td><td>{{ row['C1529'] }}</td><td>{{ row['C1531'] }}</td><td>{{ row['C1532'] }}</td></tr>
{% endfor %}
</table>
</div>
